body {
    font-family: Arial;
    margin: 40px;
}

h1 {
    color: darkblue;
}

form {
    margin-bottom: 30px;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.user {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px 0;
}

.deleteBtn {
    background: red;
    color: white;
    border: none;
}